name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      # CORREÇÃO CRÍTICA: Mudamos de 'ci' para 'install' para funcionar sem lockfile
      - run: npm install
      
      - run: npm run build
      
      # Passo de Deploy simplificado usando o Token que você já configurou
      - name: Deploy to Firebase
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        run: |
          npm install -g firebase-tools
          firebase deploy --only hosting --token $FIREBASE_TOKEN --project ${{ secrets.FIREBASE_PROJECT_ID }}
